/* ///// GENERAL GLOBAL CSS ///// */

body {
    background: #fff;
}
.col-1-1 {
    width: 100%;
}
.col-2-3 {
    width: 66%;
}
.col-1-2 {
    width: 50%;
}
.col-1-3 {
    width: 33%;
}
.col-1-4 {
    width: 25%;
}
.col-1-6 {
    width: 12.5%;
}
.flexContain {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}
h2 {
    font-family: Roboto Bold;
    letter-spacing: 1px;
    font-size: 50px;
    margin: 0 0 20px 0;
} 
h3 {
    font-family: Roboto;
    font-size: 34px;
    font-weight: 600;
    margin: 0 0 15px 0;
}
h4 {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 10px 0;
}
h5 {
    color: #fff;
    font-size: 20px;
    font-family: Arbutus Slab;
}
p {
    font-family: Roboto;
    line-height: 24px;
    font-size: 16px;
    margin: 0;
}
a {
    font-family: Roboto;
    text-transform: none;
    text-decoration: none;
    padding: 8px 16px;
    color: #fff;
    background: #A95A2D !important;
    border: 2px solid #A95A2D;
    display: block;
    width: max-content;
    margin-top: 15px;
    transition: all .5s ease-in-out;
}
a:hover {
    background: transparent !important;
    color: #A95A2D;
} 
section:not(:first-child) {
    padding: 50px 0;
}
.contentContain > .col-1-1:not(:last-child) {
    margin-bottom: 30px;
}
.title {
    position: relative;
    margin-bottom: 38px;
}
.title::before {
    position: absolute;
    display: block;
    content: '';
    bottom: -4px;
    left: 0;
    background: #000;
    height: 5px;
    width: 220px;
}

/* ///// FONTS ///// */

@font-face {
    font-family: "Arbutus Slab";
    src: url('../fonts/arbutus-slab-regular.woff2') format("woff2"),
         url('../fonts/arbutus-slab-regular.woff') format("woff"),
         url('../fonts/arbutus-slab-regular.ttf') format("truetype");
}
@font-face {
    font-family: "Roboto Bold";
    src: url('../fonts/Roboto-Bold.woff2') format("woff2"),
         url('../fonts/Roboto-Bold.woff') format("woff"),
         url('../fonts/Roboto-Bold.ttf') format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.woff2') format("woff2"),
         url('../fonts/Roboto-Regular.woff') format("woff"),
         url('../fonts/Roboto-Regular.ttf') format("truetype");
}

/* ///// HERO ///// */

#hero {
    background: url(../media/images/tastyFoodCoHome.png);
    height: 55vh;
    background-size: cover;
    position: relative;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.75);
}
#hero h1 {
    position: relative;
    color: #fff;
    font-family: Arbutus Slab;
    font-size: 70px;
    padding: 20px;
}

/* ///// OVERVIEW ///// */

#overview {
    background: #A95A2D;
}
#overview h2, #overview p {
    color: #fff;
}
#overview p {
    padding-left: 18px;
    border-left: 6px solid #fff;
}

/* ///// CONTEXT AND CHALLENGES ///// */

  

/* ///// PROCESS AND INSIGHTS ///// */

#designs .col-1-1:not(:last-child) {
    margin-bottom: 25px;
}
.col-1-4 img {
    max-width: 45%;
}
.col-1-1.designImages .col-1-4 {
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.col-1-4 img {
    max-width: 90%;
    padding-top: 55px;
}
.col-1-1.designImages {
    display: flex;
    flex-direction: revert;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col-1-1.designImages .col-1-4::before {
    position: absolute;
    display: block;
    content: 'Missing Title';
    top: 0;
    left: 0;
    background: rgba(0,0,0,1);
    padding: 15px;
    color: #fff;
    font-family: Roboto;
}
.col-1-1.designImages .col-1-4:nth-child(1)::before {
    content: 'Homepage';
}
.col-1-1.designImages .col-1-4:nth-child(2)::before {
    content: 'Recipes Page';
}
.col-1-1.designImages .col-1-4:nth-child(4)::before {
    content: 'Individual Recipe Page';
}
.col-1-1.designImages .col-1-4:nth-child(5)::before {
    content: 'Search Results Page';
}
.col-1-1.designImages .col-1-4:nth-child(7)::before {
    content: 'Login Page';
}
.col-1-1.designImages .col-1-4:nth-child(8)::before {
    content: 'Admin Recipes Page';
}
.col-1-1.designImages .col-1-4:nth-child(9)::before {
    content: 'Admin Recipe Form Page';
}

.col-1-1.designImages .col-1-4 {
    position: relative;
}



.links {
  display: flex;
}
.links a:not(:first-child) {
  margin-left: 20px;
}

/* ///// THE SOLUTION ///// */

#solution .col-1-1 .designImages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 45px;
}
#solution .col-1-1 .designImages .col-1-4 {
    padding-bottom: 30%;
    width: 48%;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
}
#solution .col-1-1:last-child .designImages .col-1-4:first-child {
    background: url('../media/images/idm241FinalDev1.png');
}
#solution .col-1-1:last-child .designImages .col-1-4:nth-child(2) {
    background: url('../media/images/idm241FinalDev2.png');
}
#solution .col-1-1:last-child .designImages .col-1-4:nth-child(3) {
    background: url('../media/images/idm241FinalDev3.png');
}
#solution .col-1-1:last-child .designImages .col-1-4:last-child {
    background: url('../media/images/idm241FinalDev4.png');
}
#solution .col-1-1:not(:last-child) {
    margin-bottom: 25px;
}
#solution {
    padding: 0;
}
#solution .col-1-1:last-child .designImages .col-1-4:first-child, #solution .col-1-1:last-child .designImages .col-1-4:nth-child(2) {
    margin-bottom: 4%;
}
.col-1-1.title + .col-1-1 .col-1-1 p:nth-child(2) {
    margin-bottom: 15px;
}
.col-1-1.designImages .col-1-1 p {
    padding: 50px 0;
}

/* ///// THE RESULT ///// */



/* ///// FOOTER ///// */

footer {
    padding: 30px 0;
    background: #A95A2D;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ///// MEDIA QUERIES ///// */

@media only screen and (max-width: 1200px) {
#hero h1 {
    font-size: 60px;
    }
}

@media only screen and (max-width: 1023px) {
#hero h1 {
    font-size: 42px;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 26px;
}  
}

@media only screen and (max-width: 767px) {
#hero h1 {
    font-size: 35px;
}
h2 {
    font-size: 34px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 24px;
}
#designs .col-1-1 .designImages .col-1-4:not(:last-child) {
    margin-bottom: 6%;
}
.title::before {
    width: 160px;
}
#designs .col-1-1 .designImages .col-1-4 {
    /* padding-bottom: 60%; */
    width: 100%;
}
#solution .col-1-1:last-child .designImages .col-1-4:not(:last-child) {
    margin-bottom: 6%;
}
#solution .col-1-1:last-child .designImages .col-1-4 {
    padding-bottom: 60%;
    width: 100%;
}
#designs .col-1-1 .designImages {
    margin-bottom: 50px;
}
}

@media only screen and (max-width: 590px) {
.flexContain {
    padding: 0 30px;
}
#hero h1 {
    font-size: 37px;
}
a {
    font-size: 14px;
}
.links a {
    margin-left: 0 !important;
    width: 100%;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
.links {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#solution a {
    width: auto;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
}

  